/* селектор тега */
p{
	color: rgb(135, 29, 29);
}
span{
	color: rgb(161, 253, 1);
}

/* селектор тега класса */
.section-why p{
	color: blue;
}
/* селектор тегов для которых задётся такой же css параметр*/

h1,h2{
	color: chocolate;
}
/* селектор тега класса, который приорететней селектора тега */
.section-how h2{
	color: rgb(250, 62, 5);
}
/* селектор id	 навивысшая приорететность при использовании подключения style.css*/
#why{
	color: darkmagenta;
}
/* селектор класса */
.main .menu-list{
	color: dodgerblue;
}
/* просто побаловался с длинным путём, тоесть с мега уточнением */
.main .section-why ul li span{
	color: dimgray;
}
/* В ходе эксперимента было выянено, что селектор атрибута даёт более мощное уточнение нежеле селектор тега, но селектор тега класса мощнее чем селектор атрибута */
[title="dupa"]{
	color: rgb(106, 0, 255);
}
/* слабее чем селектор тега класса */
.main+p{
	color: indigo;
}